{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <title>RWC Photos</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/my.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
{{end}}

{{define "footer"}}
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
{{end}}

{{define "picgrid"}}
<ul class="thumb-grid group">
{{range $index, $photo := .}}
<li>
  <div>
    <a href="/dynamic/zoom/{{$photo.Index}}">
      {{if eq $photo.Ext ".mov" ".avi"}}
      <video class="zoom-vid" src="/photo/orig/{{$photo.Id}}"></video>
      {{else}}
      <img class="img-rounded" src="/photo/thumb/{{$photo.Id}}">
      {{end}}
    </a>
    <div class="caption">
      <p class="pagination-centered">{{$photo.Date}}</p>
    </div>
  </div>
</li>
{{end}}
</ul>
{{end}}

{{define "pagenav"}}
<div class="pagination pagination-centered">
<ul>
  <li><a href="#" disabled>newer</a></li>
  <li><a href="#" onclick="pageFirst()">&#060;&#060;</a></li>
  <li><a href="#" onclick="pagePrev()">&#060;</a></li>
  {{range $i, $pgNum := .}}
  <li id="pg{{$pgNum}}" class="pglink">
    <a class="pga" href="#" onclick="pageTo({{$pgNum}})"><p class="pgp">{{$pgNum}}</p></a>
  </li>
  {{end}}
  <li><a href="#" onclick="pageNext()">&#062;</a></li>
  <li><a href="#" onclick="pageLast()">&#062;&#062;</a></li>
  <li><a href="#" disabled>older</a></li>
</ul>
</div>
{{end}}

{{define "timenav"}}
{{range $i, $year := .}}
<li>
  <div class="pagination pagination-centered">
    <ul class="dropdown-wide">
      <li class="dropdown-page"><a class="dropdown-link" href="#" onclick="pageTo({{$year.StartPage}})">{{$year.Year}}</a></li>
      {{range $j, $month := $year.Months}}
      <li class="dropdown-page"><a class="dropdown-link float-left" href="#" onclick="pageTo({{$month.Page}})">{{$month.Name}}</a></li>
      {{end}}
    </ul>
  </div>
</li>
{{end}}
{{end}}
