
{{define "browsepics"}}
  <ul class="thumb-grid group">
  {{range $index, $photo := .}}
    <li>
      <div style="{{$photo.Style}}">
        <a href="/dynamic/zoom/{{$photo.Index}}" data-target="#zoom{{$photo.Index}}" data-toggle="modal">
          <img class="img-rounded" src="/piclib/thumb1/{{$photo.Path}}">
        </a>
        <div class="caption">
          <p class="pagination-centered">{{$photo.Date}}</p>
        </div>
      </div>

      <div id="zoom{{$photo.Index}}" class="modal zoomview large hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header"></div>
        <div class="modal-body pagination-centered"></div>
        <div class="modal-footer">

          <div class="navbar">
              <ul class="nav">
                <li><textarea id="pic-notes{{$photo.Index}}">{{$photo.Notes}}</textarea></li>
                <li><div><a href="#" class="btn" style="margin-left: 10px" onclick="saveNotes({{$photo.Index}})">Save Notes</a></div></li>
              </ul>
              <ul class="nav pull-right">
                <li><a href="#" disabled>Taken {{$photo.Date}}</a></li>
                <li><div><a class="btn" href="/piclib/orig/{{$photo.Path}}">Original</a></div></li>
              </ul>
          </div>

        </div>
      </div>

    </li>
  {{end}}
  </ul>

{{end}}

{{template "browsepics" .}}
