
{{define "browsepics"}}
  <ul class="thumbnails">
  {{range $index, $photo := .}}
    <li class="span2">
      <a href="/dynamic/zoom/{{$photo.Index}}" data-target="#zoom{{$photo.Index}}" data-toggle="modal">
        <img class="thumbnail img-rounded" src="/piclib/thumb1/{{$photo.Path}}">
      </a>
      <p class="pagination-centered">{{$photo.Date}}</p>

      <div id="zoom{{$photo.Index}}" class="modal large hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header"></div>
        <div class="modal-body pagination-centered"></div>
        <div class="modal-footer">
          <p class="pagination-centered">{{$photo.Date}}</p>
        </div>
      </div>

    </li>
  {{end}}
  </ul>

{{end}}

{{template "browsepics" .}}
