
{{define "browsepics"}}
  <ul class="thumbnails">
  {{range $index, $photo := .}}
    <li class="span3">
        <img class="thumbnail img-rounded" src="{{$photo.Path}}">
        <p>{{$photo.Date}}</p>
    </li>
  {{end}}
  </ul>
{{end}}

