
{{define "pagination"}}

<li id="pgprev" ><a href="#" onclick="pagePrev()">Prev</a></li>
{{range $i, $pgNum := .}}
<li id="pg{{$pgNum}}" class="pglink"><a href="#" onclick="pageTo({{$pgNum}})">{{$pgNum}}</a></li>
{{end}}
<li id="pgnext"><a href="#" onclick="pageNext()">Next</a></li>

{{end}}

{{template "pagination" .}}

