<!DOCTYPE html>
<html>
  <head>
    <title>R-cas</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>

  <body>
    <div class="row">
      <div class="span12">
        <h1>Welcome to RWC Photo Gallery</h1>
      </div>
    </div>

    {{template "browsepics" .}}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
