{{template "header"}}

<div class="row" style="text-align: center;">
  {{if eq .Ext ".mov"}}
  <video class="zoom-vid" src="/photo/orig/{{.Id}}" controls></video>
  {{else}}
  <a href="/">
      <img class="zoom-img" data-dismiss="modal" src="/photo/thumb/{{.Id}}">
  </a>
  {{end}}
</div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><textarea id="pic-notes{{.Index}}">{{.GetNotes}}</textarea></li>
        <li><div><a href="#" class="btn" style="margin-left: 10px" onclick="saveNotes({{.Index}})">Save Notes</a></div></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#" disabled>Taken {{.Date}}</a></li>
        <li><div><a class="btn" href="/photo/orig/{{.Id}}">Original</a></div></li>
        <li><div><a class="btn" href="/photo/thumb/{{.Id}}">Thumb</a></div></li>
      </ul>
    </div>
  </div>
</div>

<script src="/static/zoompic.js"></script>

{{template "footer"}}
