
/* make modal able to be bigger */
.modal.large{
    width: 850px;
    margin-left: -425px; /* - width/2 */
    margin-top: -45%;
}

.pga {
  padding: 0px 0px;
  margin: 0px 0px;
}

.pgp {
  height: 0.72em;
  width: 1em;
}

.dropdown-page {
  display: inline-block !important;
  float: left;
}

.dropdown-link {
  display: inline !important;
}

.dropdown-wide {
  min-width: 47em !important;
}

.zoom-img {
  max-height: 800px;
}

.modal-body {
    max-height: 800px;
}

.pagination {
  margin: 7px;
}

/* overwrite bootstrap fade in to not have slide down too */
.modal.fade{
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
    top: 50%;
}
