
/* stuff for the thumbnail gallery to look right */
ul.thumb-grid {
  list-style-type: none;
}
ul.thumb-grid>li {
	float: left;
	width: 15%;
	margin: 0 5% 5% 0;
}
ul.thumb-grid>li:nth-child(5n) {
	margin-right: 0;
}
ul.thumb-grid>li>a>img {
	width: 100%;
}

#uploadermodal{
  width: 800px;
  margin-left: -400px;
  margin-top: -30%;
}

/* for the pate number nav buttons (make fixed-width) */
.pga {
  padding: 0px 0px;
  margin: 0px 0px;
}
.pgp {
  height: 0.72em;
  width: 1.5em;
}

/* for the time navigation dropdown menu */
.dropdown-page {
  display: inline-block !important;
  float: left;
}

/* for the time navigation dropdown menu */
.dropdown-link {
  display: inline !important;
}

/* for the time navigation dropdown menu */
.dropdown-wide {
  min-width: 47em !important;
}

.pagination {
  margin: 7px;
}

