
/* zoom view modal total size */
.modal.large{
    position: fixed;
    height: auto !important; 
    margin-top: -50% !important;
    width: 980px;
    margin-left: -490px;
    max-width: 90%;
    max-height: 90%;
}

#uploadermodal{
  width: 800px;
  margin-left: -400px;
  margin-top: -30%;
}

/* for the zoom view image size */
.zoom-img {
  height: auto;
  width: auto;
  max-height: 85%
}

/* for the zoom view modal body size */
.modal-body {
    height: auto !important;
    max-height: 85%;
}

.pga {
  padding: 0px 0px;
  margin: 0px 0px;
}

.pgp {
  height: 0.72em;
  width: 1.5em;
}

/* for the time navigation dropdown menu */
.dropdown-page {
  display: inline-block !important;
  float: left;
}

/* for the time navigation dropdown menu */
.dropdown-link {
  display: inline !important;
}

/* for the time navigation dropdown menu */
.dropdown-wide {
  min-width: 47em !important;
}

.pagination {
  margin: 7px;
}

/* overwrite bootstrap fade in to not have slide down too */
.modal.fade{
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
}
